body{
 background-color: #FEF2D4;
}
.borderFiltro{
    border: 0.5px solid #0000002c; /* 1px de ancho, sólido y color negro */
    border-radius: 4px;
    
}
.colorFiltro{
    background-color:white ;
}
.tamañoLetra{
    font-size: 14px;
}
select {
    background-size: 1.05rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    height: 2.25rem;
    padding-right: 1.25rem;
    text-overflow: ellipsis;
  }
